body{
  background-color: #ccc;
}

#container{
    max-width: 1200px;
    height: auto 0;
  	margin: 0 auto;
  	position: relative;
  	background-color: #fff;
}

#banner{
    max-width: 800px;
    height: auto 0;
  	margin: 0 auto;
  	position: relative;
  	background-color: #fff;
}

#menu{
    max-width: 800px;
    height: auto 0;
  	margin: 0 auto;
  	position: relative;
  	background-color: #fff;
}

#content{
    max-width: 800px;
    height: auto 0;
  	margin: 0 auto;
  	position: relative;
  	background-color: #fff;
}
